<launch>
    <node pkg="rosbag" type="record" name="record" output="screen" required="true"
        args="-O /home/jeffrey/RMS/rpg_bin/evaluate_rpg_bin.bag /esvo_tracking/pose_pub" />
    <include file="$(find esvo_core)/launch/system/system_rpg.launch" />
    <include file="$(find esvo_time_surface)/launch/rosbag_launcher/rpg/rpg_bin.launch" />
</launch>